.email-subscription_card .card-bottom input {
    background-color: white;
    padding: 15px 45px;
    border: 2px solid black;
    border-radius: 22px;

}

.email-subscription_card .card-title {
    color: white;
    line-height: 55px;
    margin-bottom: 50px;

}

.email-subscription_card {
    background-color: #0A2640;
    padding: 75px 30px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
}

.email-subscription_card .card-wrap {
    max-width: 750px;
    text-align: center;
}

.email-subscription_card .card-bottom {
    display: flex;
    justify-content: center;
    gap: 25px;
}

@media (max-width: 576px) {

    .email-subscription_card .card-bottom {

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }
}

@media (max-width: 576px) {

    .email-subscription_card .card-title {
        font-size: 40px;
        margin-bottom: 35px;
    }
}