.header-wrap .nav-bar ul li{
    list-style-type: none;
    padding: 5px 10px;
    margin: 0 20px;
}

.nav-bar li:last-child{
    margin-right: 0 !important;
}
.header-wrap .nav-bar ul li a{
    color: #0A2640;
    font-weight: 600;
}

.site-header{
    padding: 25px 0px;
    margin-top: -512px;
}
.site-header .header-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-wrap .nav-bar ul{
    display: flex;
    align-items: center;
}

.header-wrap .hamburger-menu{
    display: block;
    width: 36px;
    height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.header-wrap .hamburger-menu span{
    display: block;
    width: 40px;
    height: 3px;
    margin-bottom: 7px;
    border-radius: 12px;
    background: black
}
.header-wrap .hamburger-menu span:last-child{
margin-bottom: 0;
}

.site-header.site-header--alt{
    margin-top: 15px;
    background-color: #65E4A3;
}
@media (max-width: 991.98px) {

    .site-header .nav-bar{
        display: none;
    }
}
@media (min-width: 992px) {
    .site-header{
        padding: 35px 0px;
    }

    .header-wrap .hamburger-menu{
        display: none;
    }
}